{% extends "base.html" %}
{% load static %}
{% block head_title %}Cart{% endblock %}

{% block content %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>

    {% if object.items.exists  %}
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class=" text-center product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>

                <!--Product Cart Item-->
                {% for order_item in object.items.all %}
                  <tr>
                    <td class="product-thumbnail">
                      <img src="{{ order_item.item.image.url }}" alt="Image" class="img-fluid">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{ order_item.item.title }}</h2>
                    </td>
                    <td>₹{{ order_item.item.price }}</td>
                    <td>
                      <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <a href="{% url 'core:remove-single-item' order_item.item.slug %}" class="btn btn-outline-primary js-btn-minus" type="button">&minus;</a>
                        </div>
                        <input disabled type="text" class="form-control text-center" value="{{ order_item.quantity }}" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                          <a href="{% url 'core:add-to-cart' order_item.item.slug %}" class="btn btn-outline-primary js-btn-plus" type="button">&plus;</a>
                        </div>
                      </div>
                    </td>
                    <td>₹{{ order_item.get_final_price }}</td>
                    <td><a href="{% url 'core:remove-from-cart' order_item.item.slug %}" class="btn btn-primary btn-sm">X</a></td>
                  </tr>
                  {% endfor %}
                <!--End Product Cart Item-->

                </tbody>
              </table>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-6 mb-3 mb-md-0">
                <button onclick="window.location='/'" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="text-black h4" for="coupon">Check Delivery</label>
                <p>Enter delivery pincode </p>
                <p>This item is deliverable to <span style="font-size:18px; color:#fc6065; font-weight:bold;">Kottarakkara, Kollam<span></p>
              </div>
              <div class="col-md-8 mb-3 mb-md-0">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-sm">Check</button>
              </div>
              
            </div>
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">₹{{ object.get_cart_price }}</strong>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Delivery</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">₹{{ object.get_cart_price }}</strong>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">₹{{ object.get_cart_price }}</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='/checkout'">Proceed To Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="site-section">
      <div class="container">
        <div class="row mt-5 mb-5">
          <div class="text-center col-md-12" >
              <h6 style="font-size:22px">Your cart is currently empty !! </h6>
              <div class="mt-5 mb-5">
                <button onclick="window.location='/'" class="btn btn-primary btn-sm"> Continue Shopping </button>
              </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

{% endblock content %}